
@{
    ViewData["Title"] = "Start";
}

<h1>Start</h1>
<form method="post" action="@Url.Action("Index", "Questions")">
    <ul>
        <li>This is online test</li>
        <li>No Negative marks</li>
        <li>No Time limit</li>
        <li>This is meant for practice</li>
        <li>Click start to begin your test</li>
    </ul>
    <input type="submit" name="submit" value="Start" />
</form>
